.title{
  text-align: center;
}

.subtitle{
  text-align: center;
  padding-bottom: 2vh;
}

.index-table{
  padding-left: 2vw;
  padding-right:2vw;
}
.index-cell{
  padding: 0.5vw 1vw 0.5vw 1vw;
}
.name-cell{
  padding: 1vw 1vw 1vw 0;
}

.button-cell{
  padding: 1vw 1vw 1vw 0;
}
.red {
  color: red;
}

.blue {
  color: blue;
}

.yellow {
  color: yellow;
}

.green {
  color: green;
}

.purple {
  color: purple;
}

.orange {
  color: orange;
}

.yellow-green {
  color: #adff2f;
}

.blue-green {
  color: #0d98ba;
}

.blue-violet {
  color: #8a2be2;
}

.red-violet {
  color: #c71585;
}

.red-orange {
  color: #ff4500;
}

.yellow-orange {
  color: #FFCC00;
}
