.red {
  color: red;
}

.blue {
  color: blue;
}

.yellow {
  color: yellow;
}

.green {
  color: green;
}

.purple {
  color: purple;
}

.orange {
  color: orange;
}

.yellow-green {
  color: #adff2f;
}

.blue-green {
  color: #0d98ba;
}

.blue-violet {
  color: #8a2be2;
}

.red-violet {
  color: #c71585;
}

.red-orange {
  color: #ff4500;
}

.yellow-orange {
  color: #FFCC00;
}
