body {
  background: url(images/full1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

table {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    background-color:rgba(255, 255, 255, 0.8);
}

.title{
  text-align: center;
  font-weight: bold;
}

.subtitle{
  text-align: center;
  padding-bottom: 2vh;
}
.index-table{
  width: 70%;
}
.index-row{
  padding-left: 2vw;
  padding-right:2vw;
}

.index-cell{
  padding: 0.5vw 1vw 0.5vw 1vw;
}

.home-link{
  text-align: center;
  font-size: 18px;
}
.red {
  color: red;
}

.blue {
  color: blue;
}

.yellow {
  color: yellow;
}

.green {
  color: green;
}

.purple {
  color: purple;
}

.orange {
  color: orange;
}

.yellow-green {
  color: #adff2f;
}

.blue-green {
  color: #0d98ba;
}

.blue-violet {
  color: #8a2be2;
}

.red-violet {
  color: #c71585;
}

.red-orange {
  color: #ff4500;
}

.yellow-orange {
  color: #FFCC00;
}
