<h1> Rainbow Connection </h1>
<h3> Everybody has a favorite color.</h3>


<ul>
  {{#each model as |user|}}
    <li>{{user.name}}'s favorite color is {{user.favoritecolor}}</li>
    <li> {{user.name}}'s friends are
              {{#each user.friends as |friend|}}
                {{friend.name}}
              {{/each}}
    </li>
    {{/each}}
</ul>
