<h1 class = "title"> Rainbow Connection </h1>
<h3 class="subtitle">
  <span class="red">Everybody</span>
  <span class="blue-green">has a</span>
  <span class="yellow">favorite</span>
  <span class="green">color.</span>
  <span class="blue">What is</span>
  <span class="purple">yours?</span>
 </h3>

<table class="index-table" align="center">
  <tr class="index-row">
    <th class= "index-cell">Name</th>
    <th class= "index-cell">Favorite Color</th>
    <th class= "index-cell">Friends</th>
  </tr>
  {{#each model as |user|}}
  <tr class="index-row">
    <td class= "index-cell">
      {{#link-to 'user' user.id}}
        {{user.name}}
      {{/link-to}}
    </td>

    <td class= "index-cell"><span class= {{user.favoritecolor}}> {{user.favoritecolor}} </span></td>

    <td class= "index-cell">
      {{#each user.friends as |friend|}}
        {{#link-to 'user' friend.id}}
          {{friend.name}}
        {{/link-to}}
        &nbsp;
      {{/each}}
    </td>

  </tr>
  {{/each}}
</table>
