<h1> Rainbow Connection </h1>
<h3> {{model.name}} has a favorite color. It is <span class= {{model.favoritecolor}}> {{model.favoritecolor}} </span></h3>

<p> Friends:
  <ul>
    {{#each model.friends as |friend|}}
    <li>
        {{friend.name}}
    </li>
    {{/each}}
  </ul>
</p>
