<h1 class = "title"> Rainbow Connection </h1>
<h3 class= "subtitle"> {{model.name}} has a favorite color. It is <span class= {{model.favoritecolor}}> {{model.favoritecolor}} </span></h3>


  <table align="center">
    <tr>
      <th>Name</th>
      <th>Remove Friend</th>
    </tr>

    {{#each model.friends as |friend|}}
      <tr>
        <td class="name-cell"> {{friend.name}} </td>
        <td class="button-cell">   {{#bs-button type="danger"}}Remove Friend{{/bs-button}} </td>
      </tr>
    {{/each}}
  </table>
